.timeline{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: solid 2px  black;
    height: auto;
    padding-left: 5vh;
    padding-right: 5vh;
    margin-top: 2em;
}
.timeline-box{
    width: 45%;
    height: 200px;
    margin: 1em;
    justify-content: flex-start;
    border: solid 2px black;
}
.timeline-box:nth-child(2n){
    align-self: flex-end;
}